@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg");
    color: rgb(31, 52, 170);
    }
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    
    justify-content: center;
}
.Calculator{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    margin-left: calc(100% - 60%);
    margin-right: calc(100% - 60%);
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 7px 7px rgb(67, 200, 233);

}
h1{
    font-family:  "Sansita Swashed", system-ui;
    text-align: center;
    padding: 50px;
}
p{
    font-family:  "Sansita Swashed", system-ui;
    text-align: center;
    padding: 50px;
    color: red;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    
    
}
input{
    border: 0;
    outline: 0;
    color: rgb(0, 0, 0);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 10px;
}
.display > input{
    width: 280px;
    text-align: right;
    
}
.equal{
    width: 120px;
    justify-content: end;
    
}
@media  (max-width: 800px){
  body {
    background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg");
    color: white;
    }
  .Calculator{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    align-items: center;
    }
}